<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <script src="javascripts/mylists.js"></script>
</head>

<body>
	<div class="header">
        <% include ./partials/home %>
        <div class="ui secondary pointing menu">
        <a class="active item" href="/mylists">
          My Profiles
        </a>
        <div class="right menu">
        <div class="ui item">Welcome, <%= username %>!</div>
          <a class="ui item" href="/logout"><i class="sign out icon"></i>
            Logout
          </a>
        </div>
      </div>
    </div>
    <div class="content" id="app">
	    <center>
      <div id="main">
        <h1>My Profiles</h1>
        <div class='ui green button' id='newprofile' onclick="">
          <i class='add icon'></i>Add New Profile
        </div>
      </div>
      <br/>
			<div id="lists">
			</div>
		</center>
	</div>
    <div class="footer">
        <% include ./partials/footer %>
    </div>

</body>

</html>