<div class="ui cards" id="restCards">
  <% for (var i in obj) { %>
    <% var profile = obj[i]; %>
    <div class="ui centered card">
      <div class="content">
        <a class="header"><%= profile.type %></a>
        <div class="description">
          <% for (var j in profile.content) { %>
            <div>
              <h5><%= profile.content[j].field %>: </h5><%= profile.content[j].info %>
            </div>
            <br/>
          <% } %>
        </div>
      </div>
    </div>
  <% } %>
</div>